<header id="masthead" class="site-header" role="banner">

  <!-- HEADER IMAGE ABOVE MENU -->
      <img src="/images/header.png" class="header-image" width="921" height="110">

  <nav id="site-navigation" class="main-navigation" role="navigation">
    <h3 class="menu-toggle">Menu</h3>
    <div class="menu-menu-1-container"><ul id="menu-menu-1" class="nav-menu"><li id="menu-item-22" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-22"><a href="http://ashleighmcclure.github.io/">Blog</a></li>
<li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a href="{{ "/contact" | prepend: site.baseurl }}">Contact</a></li>
<li id="menu-item-24" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-24"><a href="{{ "/writing" | prepend: site.baseurl }}">Writing</a></li>
        <li id="menu-item-25" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-25"><a href="{{ "/photos" | prepend: site.baseurl }}">Photos</a></li>
</ul></div>		</nav><!-- #site-navigation -->


</header>
