<!DOCTYPE html>

<html lang="en-US"><!--<![endif]-->
    {% include head.html %}

<body class="home blog custom-font-enabled single-author">
  {% include header.html %}<!-- #masthead -->

  <div id="main" class="wrapper">
	<div id="primary" class="site-content">
		<div id="content" role="main">
      {{ content }}
		</div><!-- #content -->
	</div>
  {%include sidebar.html%}
		</div><!-- #main .wrapper -->
    {%include footer.html%}
    <script type="text/javascript" src="js/scripts.js?ver=4.1.1"></script>
    <script type="text/javascript" src="themes/twentytwelve/js/navigation.js?ver=20140711"></script>
    </body>
</html>
